@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
.main {
  max-width: 1440px;
  height: -moz-max-content;
  height: max-content;
  padding: 15px 30px 15px 30px;
  font-family: "Poppins", sans-serif;
}
.main .wrap {
  max-width: 1000px;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
  display: flex;
  border: 2px solid #b4b3b2;
  border-radius: 20px;
}
.main .wrap .col-1 {
  width: 50%;
  height: 100%;
}
.main .wrap .col-1 .row-1 {
  width: 100%;
  height: 25%;
  background-color: #59c7e8;
  border-top-left-radius: 18px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.main .wrap .col-1 .row-1 .my-photo {
  margin: 15px 0px;
  width: 175px;
  height: 175px;
  background-color: #fcfcfc;
  border-radius: 50%;
}
.main .wrap .col-1 .row-1 .name-proffesion {
  margin: 15px 0px;
}
.main .wrap .col-1 .row-1 .name-proffesion h1 {
  font-weight: 800;
  color: #3f4442;
  text-align: center;
  font-size: 32px;
}
.main .wrap .col-1 .row-1 .name-proffesion p {
  font-weight: 800;
  color: #3f4442;
  text-align: center;
  font-size: 18px;
}
.main .wrap .col-1 .row-2 {
  width: 100%;
  height: 75%;
  background-color: #3f4442;
  border-bottom-left-radius: 18px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main .wrap .col-1 .row-2 .wrap-contact {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: -moz-max-content;
  height: max-content;
}
.main .wrap .col-1 .row-2 .wrap-contact .title {
  margin-top: 40px;
  display: flex;
  align-items: center;
  color: #fcfcfc;
  padding: 10px;
  border-bottom: 2px solid #fcfcfc;
  letter-spacing: 3px;
}
.main .wrap .col-1 .row-2 .wrap-contact .title .material-symbols-outlined {
  margin-right: 20px;
  color: #59c7e8;
  font-variation-settings: "FILL" 1, "wght" 800, "GRAD" 0, "opsz" 55;
}
.main .wrap .col-1 .row-2 .wrap-contact .description {
  list-style: none;
  padding: 10px;
}
.main .wrap .col-1 .row-2 .wrap-contact .description ul {
  display: flex;
  flex-direction: column;
}
.main .wrap .col-1 .row-2 .wrap-contact .description ul li {
  margin: 7px;
  display: flex;
  align-items: center;
}
.main .wrap .col-1 .row-2 .wrap-contact .description ul li p {
  color: #fcfcfc;
  opacity: 0.8;
}
.main .wrap .col-1 .row-2 .wrap-contact .description ul li a {
  color: #fcfcfc;
  opacity: 0.8;
}
.main .wrap .col-1 .row-2 .wrap-contact .description ul li .material-symbols-outlined {
  margin-right: 20px;
  color: #fcfcfc;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.main .wrap .col-1 .row-2 .wrap-tech-skills,
.main .wrap .col-1 .row-2 .wrap-soft-skills,
.main .wrap .col-1 .row-2 .wrap-language-skills {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: -moz-max-content;
  height: max-content;
}
.main .wrap .col-1 .row-2 .wrap-tech-skills .title,
.main .wrap .col-1 .row-2 .wrap-soft-skills .title,
.main .wrap .col-1 .row-2 .wrap-language-skills .title {
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: #fcfcfc;
  padding: 10px;
  border-bottom: 2px solid #fcfcfc;
  letter-spacing: 3px;
}
.main .wrap .col-1 .row-2 .wrap-tech-skills .title .material-symbols-outlined,
.main .wrap .col-1 .row-2 .wrap-soft-skills .title .material-symbols-outlined,
.main .wrap .col-1 .row-2 .wrap-language-skills .title .material-symbols-outlined {
  margin-right: 20px;
  color: #59c7e8;
  font-variation-settings: "FILL" 1, "wght" 800, "GRAD" 0, "opsz" 55;
}
.main .wrap .col-1 .row-2 .wrap-tech-skills .description,
.main .wrap .col-1 .row-2 .wrap-soft-skills .description,
.main .wrap .col-1 .row-2 .wrap-language-skills .description {
  padding: 10px;
}
.main .wrap .col-1 .row-2 .wrap-tech-skills .description ul,
.main .wrap .col-1 .row-2 .wrap-soft-skills .description ul,
.main .wrap .col-1 .row-2 .wrap-language-skills .description ul {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  color: #fcfcfc;
  list-style: disc;
  margin-left: 10px;
}
.main .wrap .col-1 .row-2 .wrap-tech-skills .description ul li,
.main .wrap .col-1 .row-2 .wrap-soft-skills .description ul li,
.main .wrap .col-1 .row-2 .wrap-language-skills .description ul li {
  padding: 10px;
}
.main .wrap .col-2 {
  width: 70%;
  height: 100%;
  background-color: #fcfcfc;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
.main .wrap .col-2 .row-1 {
  width: 90%;
  margin: 0 auto;
}
.main .wrap .col-2 .row-1 .title {
  display: flex;
  align-items: center;
  color: #3f4442;
  border-bottom: #3f4442 2px solid;
  margin: 30px 0px 20px 0px;
}
.main .wrap .col-2 .row-1 .title .material-symbols-outlined {
  margin-right: 20px;
  color: #59c7e8;
  font-size: 40px;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 28;
}
.main .wrap .col-2 .row-1 .title h1 {
  font-size: 30px;
}
.main .wrap .col-2 .row-1 .description {
  letter-spacing: 0.4px;
  line-height: 23px;
  opacity: 0.7;
}
.main .wrap .col-2 .row-1 .description ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main .wrap .col-2 .row-1 .description ul li {
  display: flex;
  flex-direction: column;
}
.main .wrap .col-2 .row-1 .description ul li .title {
  border: none;
  font-size: 17px;
  margin: 10px;
}
.main .wrap .col-2 .row-1 .description ul li .title a {
  color: #3f4442;
  font-weight: bolder;
}
.main .wrap .col-2 .row-1 .description ul li .about {
  font-weight: bolder;
}
.main .wrap .col-2 .row-1 .description ul li p {
  color: black;
  margin-left: 15px;
  font-weight: lighter;
}/*# sourceMappingURL=style.css.map */